[package]
authors = ["Jason Ozias <jason.ozias@kroger.com>"]
categories = ["algorithms", "cryptography"]
description = "An implementation of Shamir's Secret Sharing Scheme"
documentation = "http://docs.rs/ssss"
edition = "2018"
homepage = "http://docs.rs/ssss"
keywords = ["cryptography", "secret", "shamir"]
license = "MIT OR Apache-2.0"
name = "ssss"
readme = "README.md"
repository = "https://github.com/rustyhorde/sss.git"
version = "0.1.0"

[dependencies]
anyhow = "1"
getset = "0"
rand = "0"
serde = "1"
serde_derive = "1"
thiserror = "1"

[build-dependencies]
rustversion = "1"
